
<%= render 'shared/navbar' %>
<div class="container mt-5">
    <h1 class="text-center">Customer Registration</h1>

    <div>
    <%= form_with url: '/submit', method: :post do |form| %>
    <div class="mb-3">
        <%= form.label :first_name %>
        <%= form.text_field :fname, class: 'form-control' %>
    </div>

    <div class="mb-3">
        <%= form.label :last_name %>
        <%= form.text_field :lname, class: 'form-control' %>
    </div>
    <div class="mb-3">
        <%= form.label :email %>
        <%= form.text_field :email, class: 'form-control' %>
    </div>
    <div class="mb-3">
        <%= form.label :job %>
        <%= form.text_field :job, class: 'form-control' %>
    </div>
    <div class="mb-3">
        <%= form.label :description %>
        <%= form.text_area  :description, class: 'form-control' %>
    </div>

    <%= form.submit "Submit", class: 'btn btn-primary form-control' %>
    <%end%>

    </div>
</div>







